In [36]:
# Import necessary libraries

import numpy as np
import pandas as pd
import pickle

import seaborn as sns
import matplotlib.pyplot as plt

In [37]:
import warnings
warnings.filterwarnings('ignore')

In [38]:
# Read the processed dataset 
dataSet = pd.read_excel("..\\..\\Data\\INX_processed_data.xls")

In [39]:
dataSet.head(3)

,Age,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,EmpLastSalaryHikePercent,...,EmpJobRole_Sales Executive,EmpJobRole_Sales Representative,EmpJobRole_Senior Developer,EmpJobRole_Senior Manager R&D,EmpJobRole_Technical Architect,EmpJobRole_Technical Lead,BusinessTravelFrequency_Travel_Frequently,BusinessTravelFrequency_Travel_Rarely,OverTime_Yes,Attrition_Yes
0,32,10,3,4,55,3,2,4,1,12,...,1,0,0,0,0,0,0,1,0,0
1,47,14,4,4,42,3,2,1,2,12,...,1,0,0,0,0,0,0,1,0,0
2,40,5,4,4,48,2,3,1,5,21,...,1,0,0,0,0,0,1,0,1,0

In [40]:
emp_vars=dataSet.columns.values.tolist()
y=['PerformanceRating']
x=[i for i in emp_vars if i not in y]

In [41]:
X = dataSet[x]

In [42]:
Y = dataSet[y]

In [43]:
X.shape,Y.shape

((1200, 53), (1200, 1))

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.3,random_state=20)

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [47]:
classifier  = RandomForestClassifier(n_jobs=2,n_estimators=1000)

In [48]:
classifier.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=2,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [49]:
# Dump the trained random forest classifier with Pickle

RandomForest_pkl_filename = 'RandomForest_classifier.pkl'

# Open the file to save as pkl file

RandomForest_model_pkl = open(RandomForest_pkl_filename, 'wb')
pickle.dump(classifier, RandomForest_model_pkl)

# Close the pickle instances

RandomForest_model_pkl.close()